# -*- mode: gitignore; -*-

/target
**/*.rs.bk

# See https://raw.githubusercontent.com/github/gitignore/master/Global/Emacs.gitignore
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

*.pdf
.envrc
